.compare-container {
  background-color: #0b0c10;
  position: absolute;
  z-index: 11;
  top: 1550px;
  width: 1100px;
  height: 654px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.compare-container-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin: 16px 0px 24px 24px;
}
