.header2-container {
  width: 100%;
  height: 160px;
  background-color: #0b0c10;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  padding: 46px 0px 0px 124px;
}
.header2-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 38px;
  margin-bottom: 20px;
}
