.recommend-container {
  position: absolute;
  z-index: 10;
  top: 830px;
  width: 1050px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  color: white;
}
.recommend-menu {
  width: 120px;
  height: 24px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
}
.recommend-line {
  width: 120px;
  height: 2px;
  background-color: #007cc7;
}
.recommend-nav {
  position: absolute;
  display: flex;
  gap: 0px;
  z-index: 1000;
  margin-bottom: 30px;
}
.recommended-card-container {
  position: relative;
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
