.banner-container {
  position: absolute;
  width: 100%;
  height: 629px;
  z-index: 1;
  top: 0;
}
.banner-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #0b0c10;
  opacity: 0.7;
}
.banner-text-container {
  position: absolute;
  top: 30%;
  left: 100px;
  color: white;
  text-align: center;
  z-index: 3;
  text-align: start;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.banner-nav {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
