.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  padding: 0px 150px;
  align-items: center;
  z-index: 1000;
  background-color: #152836;
}
.header-link-container {
  display: flex;
  gap: 60px;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header-logo-container {
  justify-items: start;
}
.header-sign-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
}
.header-element {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-element-article {
  display: flex;
  gap: 10px;
}
.header-sign {
  display: flex;
  gap: 6px;
  align-items: center;
}
.header-element:active {
  transform: scale(0.92);
}
.link-style {
  text-decoration: none;
  color: inherit;
}
