.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #12232e;
  padding-bottom: 15px;
}
.footer-logo {
  position: relative;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}
.footer-firstLine {
  position: relative;
  top: 30px;
  left: 0px;
}
.footer-content-container {
  position: relative;
  margin-top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.footer-container-lastLine {
  position: relative;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-top: 10px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
}
