.service-container {
  position: relative;
  top: 2440px;
  color: white;
  width: 1000px;
  height: 218px;
  left: 50%;
  padding: 0px 20px 20px 20px;
  transform: translateX(-50%);
}
.service-container p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.service-container-click {
  width: 100%;
  height: 145px;
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
  cursor: pointer;
}
.service-click-element {
  border: 2px solid #007cc7;
  border-radius: 3px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
