.carDetail-img-container {
  width: 100%;
  height: 850px;
  background-color: #0b0c10;
}
.carDetail-Img {
  width: 100%;
  height: 533px;
}
.carDetail-Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carDetail-des-image {
  position: relative;
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
}
.carDetail-img-css {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}
.carDetail-imgContainer-css {
  width: 145px;
  height: 99px;
}
.carDetail-content-container {
  background-color: #0b0c10;
  width: 100%;
  height: 3000px;
  padding: 30px 80px 80px 70px;
}
