.carCard-container {
  position: relative;
  width: 330px;
  height: 511px;
  background-color: #0b0c10;
  border: 2px solid #12232e;
  display: flex;
  flex-direction: column;
}
.carCard-content-container {
  margin: 0px 16px 16px 16px;
  color: white;
}
.carCard-content-tag {
  color: #007cc7;
  background-color: inherit;
  border: 1px solid #007cc7;
  width: 20%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  padding: 5px 3px 5px 3px;
  line-height: 100%;
  border-radius: 3px;
}
.carCard-content-title {
  margin-top: 12px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  height: 48px;
}
.carCard-content-price {
  margin-top: 12px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.carCard-content-location {
  margin-top: 8px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  font-size: 16px;
}
.carCard-content-detail {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 100%;
  font-style: normal;
  font-size: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.carCard-content-detail-item {
  display: flex;
  align-items: center;
  gap: 60px;
}
