.about-container {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #12232e;
  display: flex;
  top: 2370px;
}
.about-container-img {
  width: 60%;
  height: 100%;
}
.about-container-text {
  background-color: #12232e;
  width: 40%;
  height: 100%;
  color: white;
  padding: 60px 60px 60px 90px;
}
.about-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 30px;
}
.about-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 50px;
}
.about-container-data {
  display: grid;
  grid-template-columns: 144px 144px;
  grid-template-rows: 100px 100px;
  row-gap: 80px;
  column-gap: 70px;
}
.about-data-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-data-element p:first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
}
.about-data-element p:nth-child(4) {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}
.about-data-element div:nth-child(2) {
  border-radius: 3px;
  height: 2px;
  width: 100%;
  background-color: #004a77;
  margin-bottom: 2px;
  margin-top: 4px;
}
.about-data-element div:nth-child(3) {
  border-radius: 3px;
  height: 2px;
  width: 50%;
  background-color: #004a77;
  align-self: start;
  margin-bottom: 10px;
}
