.news-container {
  position: relative;
  z-index: 11;
  top: 2300px;
  width: 1000px;
  height: 472px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0b0c10;
  color: white;
}
.news-menu {
  width: 120px;
  height: 24px;
  color: #007cc7;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
}
.news-line {
  width: 120px;
  height: 2px;
  background-color: #007cc7;
}
.news-nav {
  position: absolute;
  display: flex;
  gap: 0px;
  z-index: 1000;
  margin-left: 30px;
}
.new-text-container-leftSide {
  height: 50%;
  width: 100%;
  padding: 24px;
}
.new-text-container-leftSide :first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #007cc7;
}
.new-text-container-leftSide :nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 14px;
  color: white;
  line-height: 24px;
}
.new-text-user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.new-text-user p {
  font-size: 14px !important;
}
.new-text-container-rightSide {
  height: 50%;
  width: 60%;
  padding: 24px;
}
.new-text-container-rightSide :first-child {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #007cc7;
}
.new-text-container-rightSide :nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 14px;
  color: white;
  line-height: 24px;
}
.new-text-container-rightSide :nth-child(3) {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
.new-text-container-rightSide :nth-child(3) p {
  font-size: 14px !important;
}
